# Python Exercise 08

## Exercise 1
1. Go to this website: [https://www.komplett.dk/category/21661/gaming/gaming-pc/baerbar](https://www.komplett.dk/category/21661/gaming/gaming-pc/baerbar)
2. Use BeautifulSoup, to select the name and price for the laptops (hint: look for class="product-price" to begin with).
3. Create a mysql table called laptops, with columns id, name, price.
4. Insert the laptop data into the laptops table, using a mysql connector and cursor.

## Exercise 2
1. Create a restful webservice that can respond to the following requests, by collecting/adding data from the laptops table:

| Method | URL              | Response                                             | Description                                     |
|--------|------------------|------------------------------------------------------|-------------------------------------------------|
| GET    | /api/laptops/all | [{"id":1, "name":"ASUS TUF", "price":9999},{},{}...] | Returns all the laptop objects from the database|
| POST   | /api/laptops     | POST json: {"name":"Acer", "price":12345}            | Adds a new Laptop object to the database        |

## Exercise 3
1. Select the data from the endpoints, using a request object.
2. Make a sorted bar chart of the laptops, where x-axis is names, and y-axis is price.



#### Exercise Made by Powerpuff Pigerne & Professor Utonium:
- Michael Ibsen (cph-mi93@cphbusiness.dk)
- Rasmus Grønbek (cph-rg86@cphbusines.dk)
- Sebastian Bentley (cph-sb287@cphbusiness.dk)
- Sebastian Steen Lundby Hansen (cph-sh499@cphbusiness.dk)

# Status
I had some problems creating the database for some reason and I did not have the time to fix it. <br>
Therefore almost no exercise was made.

## Solution Exercise 1

In [2]:
import bs4
import requests

#Go to this website: https://www.komplett.dk/category/21661/gaming/gaming-pc/baerbar
r = requests.get('https://www.komplett.dk/category/21661/gaming/gaming-pc/baerbar')
r.raise_for_status()
#Use BeautifulSoup, to select the name and price for the laptops (hint: look for class="product-price" to begin with).

soup = bs4.BeautifulSoup(r.text, 'html.parser')
prices = soup.select('span[class="product-price-now"]')
names = soup.select('div[class="text-content"] > h2')

laptops = {}

for idx, val in enumerate(names):
    laptops[names[idx].getText()] = prices[idx].getText()

print(laptops)

#Create a mysql table called laptops, with columns id, name, price.

#Insert the laptop data into the laptops table, using a mysql connector and cursor.

# Connect with the MySQL Server
import mysql.connector as mysql

## connecting to the database using 'connect()' method
cnx = mysql.connect(host = "db", user = "root", passwd = "root", db = "db")

cursor = cnx.cursor(prepared=True)

# Insert a laptop
insert_query = """INSERT INTO laptops (name, price) VALUES (%s, %s)"""

for key, value in laptops.items():
    laptop = {key[:45], value}
    val = (key, value,)
    cursor.execute(insert_query, val) 
    cnx.commit()
    
cursor.close()
cnx.close()
print("laptops inserted to db/laptops")

{'ASUS ZenBook Pro Duo 15,6" UHD/4K OLED Touch': '21.990,-', 'ASUS TUF Gaming A15 FX506IV 15,6" FHD 144 Hz': '10.995,-', 'MSI Stealth 15M 15,6" FHD': '9.995,-', 'MSI GF75 Thin 17,3" FHD 144 Hz': '8.995,-', 'ASUS ROG Zephyrus G15 GA502DU 15,6" FHD 144 Hz': '8.490,-', 'Razer Blade Stealth 13,3" FHD 120 Hz': '12.995,-', 'MSI GE66 Raider 15,6" FHD 240 Hz': '14.495,-', 'MSI GS66 Stealth 15,6" FHD 300 Hz': '17.995,-', 'MSI GS75 Stealth 17,3" FHD 300 Hz': '19.995,-', 'Komplett Khameleon P9 Bærbar Gaming PC': '11.499,-', 'Lenovo IdeaPad Gaming 3 15,6" FHD 120 Hz': '6.990,-', 'ASUS Zephyrus G14 14" FHD 120 Hz med AniMe Matrix LED': '9.995,-', 'ASUS ROG STRIX G G712LW 17,3" FHD 144 Hz': '12.795,-', 'MSI P65 Creator 15,6" Full HD': '10.995,-', 'ASUS ROG STRIX G G512LV 15,6" FHD 144 Hz (Glacier Blue)': '9.990,-', 'MSI Prestige 15 15,6" Full HD': '9.495,-'}

InterfaceError: Table 'db.laptops' doesn't exist